@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900');

:root {
    --primary-green: #469867;
    --primary-black: #2C2C2C;
    --primary-gray: rgb(127, 126, 126);
}

* {
    color: var(--primary-black);
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F6F6F6;
}

.title {
    margin-top: 5vh;
    font-weight: 650;
    font-size: 35px;
    font-family: 'Secular One';
}

.title h1 {
    font-family: 'Secular One';
}

.welcome-screen {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

.game-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#leaderboard {
    margin-top: 2.5vh;
    cursor: pointer;
    display: none;
    width: 2.7em;
}

.message-container {
    margin-top: 1.5vh;
    height: 30px;
}

.tagline {
    margin-bottom: 3vh;
    text-align: center;
    max-width: 400px;
}

.tagline h2 {
    font-weight: 600;
    font-style: normal;
}

.tagline p {
    color:var(--primary-gray);
    font-weight: 450;
}

.login {
    margin-top: 2vh;
}

.message-container p {
    background-color: #cdcdcd;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.lyric-container {
    margin-top: 2vh;
}

.lyric-container .lyric {
    background-color: #F4F4F4;
    font-size:25px;
    font-weight: 400;
    border:2px solid #D8D8D8;
    margin-top: 1vh;
    margin-bottom: 1.2vh;
    padding: 1vh;
    border-radius: 10px;
}

.lyric-container text {
    opacity: 0%;
}

.buttons {
    margin-top: 3vh;
    text-align: center;
}

.buttons button {
    color: white;
    background-color: var(--primary-black);
    border: none;
    border-radius: 10px;
    padding: 15px;
    font: 1rem / 1.25 sans-serif;
}

.song-input {
    margin-top: 1.5vh;
}

.song-input label {
    margin-right: 10vh;
}

.song-input input {
    margin-top: .7vh;
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border:2px solid var(--primary-black);
    border-radius: 10px;
    padding: 5px;
}

#submit {
    background-color: var(--primary-green);
    margin-left: 2vw;
}
    
.score-display {
    margin-top: 2vh;
}

.popup-container {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popup-items {
    color: rgb(248, 248, 248);
    background-color: #FAF9F6;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 500px;
    text-align: center;
    align-items: center;
    min-height: 25vh;
    border-radius: 25px;
}

.popup-container #title {
    color: var(--primary-black);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

#song-title {
    font-weight: 650;
    margin-bottom: 15px;
}

.streak-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
}

.streak-container p {
    font-size: 15px;
    font-weight: 500;
    margin: 1.5vw;
}

#close {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 25px;
    font-weight: bold;
}

.popup-container button {
    color: white;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--primary-black);
    border: none;
    font-size: 16px;
    font-weight: 450;
}

.popup-container #share {
    background-color: var(--primary-green);
}

footer {
    text-align: center;
    margin: 0 auto;
    margin-top: 55vh;
}



