* {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: aliceblue;
}

.title {
    margin-top: 5vh;
    font-weight: 650;
    font-size: 35px;
}

.welcome-screen {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
}

.game-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.message-container {
    margin-top: 1.5vh;
    height: 30px;
}

.message-container p {
    background-color: #cdcdcd;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.lyric-container {
    margin-top: 2vh;
}

.lyric-container .lyric {
    font-size:25px;
    font-weight: 400;
    border:1px solid black;
    margin-top: 1vh;
    margin-bottom: 1.2vh;
    padding: 1vh;
    border-radius: 10px;
}

.lyric-container text {
    opacity: 0%;
}

.buttons {
    margin-top: 3vh;
    text-align: center;
}

.buttons button {
    color: white;
    background-color: #0a0a23;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font: 1rem / 1.25 sans-serif;
}

.song-input {
    margin-top: 1.5vh;
}

.song-input label {
    margin-right: 10vh;
}

.song-input input {
    margin-top: .7vh;
    font: 1.25rem / 1.5 sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-width: 0.1em;
    border-radius: 10px;
    padding: 5px;
}

#submit {
    background-color: rgb(131, 190, 131);
    margin-left: 2vw;
}
    
.score-display {
    margin-top: 2vh;
}
.popup-container {
    color: rgb(248, 248, 248);
    position:fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cccccc;
    width: 350px;
    height: 250px;
    text-align: center;
    border-radius: 25px;
    opacity: 0%;
}

.popup-container #title{
    color: rgb(39, 39, 39);
    margin-top: 10px;
    margin-bottom: 47px;
    font-size: 30px;
    font-weight: 600;
}

.popup-container button {
    color: white;
    height: 40px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #121213;
    border: none;
    font-size: 16px;
    font-weight: 450;
}

.popup-container #share {
    background-color: rgb(131, 190, 131);
}



