{% extends 'base.html' %}

{% block body %}

<div class="welcome-screen">

<div class="title">
    <h1>LYRICDLE</h1>
</div>

<div class="tagline">
    <h2>Guess one of your top Spotify songs using one line of lyrics at a time!</h2>
    <p>Songs reset once a day at 12am PST</p>
</div>

<div class="login">
    <a href={{auth_url}}>
        <img src="{{ url_for('static', filename='connect_spotify.png') }}" width="300" height="60">
    </a>
</div>

<div class="rip">
    <p>Sadly, Lyricdle has been rejected from integrating the Spotify platform due to their policy on not allowing games and trivia quizzes. Therefore, it will not work for non-approved accounts. If you're interested learning more about the story of Lyricdle, please check out my article:</p>
        <a href="https://medium.com/@karimkaylani/lyricdle-how-ignoring-the-terms-conditions-killed-my-viral-game-edbe0767ff2">Lyricdle: How Ignoring the Terms & Conditions Killed My Viral Game
        </a>
</div>

<footer>
    <div class="b"><p>Made by <a href="https://github.com/karimkaylani/" title="Github">Karim Kaylani</a></p></div>
    <div class="credits"><a href="https://github.com/karimkaylani/lyricdle" title="Github Repo">Check out the code!</a></div>

{% endblock %}