{% extends 'base.html' %}

{% block body %}

<div class="welcome-screen">

<div class="title">
    <h1>LYRICDLE</h1>
</div>

<div class="tagline">
    <h2>Guess the lyrics from one of your songs one line at a time!</h2>
    <p>Songs reset once a day at 12am PST</p>
</div>

<div class="login">
    <a href={{auth_url}}>
        <img src="{{ url_for('static', filename='connect_spotify.png') }}" width="300" height="60">
    </a>
</div>

</div>

<footer>
    <div class="b"><p>Made by Karim Kaylani</p></div>
    <div class="credits">Uses <a href="https://spotipy.readthedocs.io/en/2.18.0/" title="Spotipy">Spotipy</a>
    and <a href="https://lyricsgenius.readthedocs.io/en/master/" title="LyricsGenius">LyricsGenius</a> libraries</div>

{% endblock %}