{% extends 'base.html' %}

{% block body %}



<div class="game-container">
    <div class="title">
        Lyricdle
    </div>

    <div class="message-container"></div>

    <div class="lyric-container">
        {% for line in lyrics %}
        <div class=lyric id={{"line" + loop.index0|string}} >
            <text>{{ line }}</text>
        </div>
        {% endfor %}
    </div>

    <datalist id="songdata">
        {% for song in all_songs %}
        <option>{{ song }}</option>
        {% endfor %}
    </datalist>

    <script>
        $(function () {
            var songs = $('#songdata option').map(function () {
                return this.value;
            }).get()

            $("#song-form").autocomplete({
                source: songs
            });
            $("#song-form").autocomplete("enable");
        });
    </script>

    <div class="song-input">
        <label for="song">Song:</label>
        <input type="text"
        id = "song-form"
        id="song" name="song"
        size="50"/>

        <div class="buttons">
            <button id="skip">Skip</button>
            <button id="submit">Submit</button>
        </div>
    </div>

    <div class="score-display">
        1/6
    </div>

    <div class="popup-container">
        <div class="share-button">
            <button id="share">
                Share Result
            </button>
        </div>
        
        <div class="dismiss-button">
            <button id="dismiss">
                Close
            </button>
        </div>

</div>


<script>
    var song = '{{ song|tojson }}'
    var day = '{{ day }}'
    var username = '{{ username }}'
</script>
<script src="{{url_for('static', filename='app.js')}}"></script>



{% endblock %}